[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "themes/reveal"]
	path = themes/reveal
	url = git@github.com:dzello/reveal-hugo.git
